<!-- views/settings.ejs -->
<!doctype html>
<html>
<head>
	<title>IMS</title>
	<% include partials/bootstrap %> <!-- load bootstrap css -->
	<% include partials/fa %> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<<<<<<< HEAD
	<% include partials/nav %>

	<div class="container">
		<div class="jumbotron">
			<h3>User Profile</h3>
			<form role="form" action="javascript:void(0)">
				<div class="form-group">
					 <label for="id">User ID</label>
					 <input type="text" class="form-control" id="id" value="<%= user.id %>" disabled="true">
				</div>

				<div class="form-group">
					 <label for="admin">Administrator</label>
					 <input type="text" class="form-control" id="admin" value="<% if (user.Admin == 1) { %> True <% } else{ %> False <% } %>" disabled="true">
				</div>

				 <div class="form-group">
			      <label for="name">Name</label>
			      <input type="text" class="form-control" id="name" value="<%= user.name %>">
			   </div>

				 <div class="form-group">
			      <label for="email">Email</label>
			      <input type="text" class="form-control" id="email" value="<%= user.email %>">
			   </div>
				 <button type="submit" id="profile" class="btn btn-default">Submit</button>
			</form>
		</div>

		<div class="jumbotron">
			<form role="form" action="javascript:void(0)">
				 <div class="form-group">
			      <label for="currentPassword">Current Password</label>
			      <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
			   </div>

				 <div class="form-group">
			      <label for="newPassword">Email</label>
			      <input type="password" class="form-control" id="newPassword" placeholder="New Password">
			   </div>

				 <div class="form-group">
			      <label for="newPasswordRepeat">Email</label>
			      <input type="password" class="form-control" id="newPasswordRepeat" placeholder="New Password Repeat">
			   </div>

			   <button type="submit" id="credentials" class="btn btn-default">Submit</button>
			</form>
		</div>

	</div>

<script type="text/javascript">
$(document).on('click', '#profile', function(){
	$.ajax({
		url: "/api/users",
		type: "PUT",
		contentType: 'application/json',
		async: true,
		data: JSON.stringify({ id: $('#id').val(), name: $('#name').val(), email: $('#email').val() }),
		dataType: "json",
		success: function(message){
			console.log(message);
		}
	});
});

$(document).on('change', '#currentPassword', function(){
	$.ajax({
		type: "GET",
		url: "/verify",
		async: true,
		data: JSON.stringify({ currentPassword: $('#currentPassword').val() }),
		dataType: "json",
		success: function(response){
			console.log(response);
		}
	});
});

$(document).on('click', '#credentials', function(){
	var current = $('#currentPassword').val()
	var new = $('#newPassword').val()
	var newRepeat = $("newPasswordRepeat").val()

	$.ajax({
		url: "/api/users",
		type: "PUT",
		contentType: 'application/json',
		async: true,
		data: JSON.stringify({ id: $('#id').val(), currentPassword: current, newPassword: new, newPasswordRepeat: newRepeat }),
		dataType: "json",
		success: function(message){
			console.log(message);
		}
	});
});
</script>
=======
<% include partials/nav %>

<div class="container">
		<div class="jumbotron text-center">
				<h1>User Profile</h1>
				<p>
					<strong><%= user.name %></strong><br/>
					<strong>UserID</strong>: <%= user.id %><br/>
					<strong>Email</strong>: <%= user.email %><br/>
					<strong>Password</strong>: <%= user.password %>
					<strong>Admin</strong>:
					<% if (user.Admin == 1) { %>
						true
					<% } else{ %>
						false
					<% } %>
					<br/>
				</p>
		</div>
</div>
>>>>>>> 05f0b5073a0113da7cb757cf6bddd982c8245345

</body>
</html>
